.space-between {
    flex:1;
}

.example-card {
    max-width: 400px;
}

.agency-header-image {
    background-image: url('/assets/img/agencia1.jpg');
    background-size: cover;
}

.agency-address{
    padding-left: 15%;
    text-align: left;
}

.agency-province{
    padding-left: 0;
    text-align: left;
}



  

